.sidebar{
height: 100vh;
color: white;
}
.chat-txt-crd-h{
  height: 98vh;
}
#text-input-width{
  width: 40rem;
}
.txt-in-m-l{
  margin-left: 10rem;
}
.input-field-decor{
  box-shadow: none !important;
  background-color: #c6f5eb!important;
} 
.btn-decorator{
  box-shadow: none !important;
  background-color:  #c6f5eb!important;
}